name: Go

on: push

jobs:
  golangci:
    name: golang lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0
  test-backend:
    # https://github.com/golangci/golangci-lint-action
    name: Go test
    runs-on: ubuntu-latest
    env:
      FONT: "Lato-Regular" # one of the fonts that `magick -list font` has on Actions
      GOTOOLCHAIN: "go1.25.0+auto" # Fix for "no such tool covdata" error - https://github.com/golang/go/issues/75031
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v5
      # - run: sudo apt-get update && sudo apt-get install -y imagemagick
      - uses: mfinelli/setup-imagemagick@v7
      - run: sudo apt-get install -y libfuse2
      - run: magick -version
      - run: magick -list font
      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Get dependencies
        run: go mod vendor
      - name: Test
        run: make unit-cover-go
      - uses: codecov/codecov-action@v5
  test-ui:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ui
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Node.js 
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: yarn install
      - run: yarn test -- --coverage
      - uses: codecov/codecov-action@v5

  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    needs: ["golangci", "test-backend", "test-ui"]
    if: github.ref == 'refs/heads/main'
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --local-only
